body {
    background-color: #F5EBE6;
    margin: 0px;
    font-family: "Tahoma", sans-serif;
    
}

header {
    background-image: url(Images/background1.jpg);
    background-position: center;
    color: #ffffff;
    padding: 30px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

blockquote {
    margin: 0px;
    margin-left: 0px;
}




.svg-icon{
    vertical-align:middle;
    width:40px;
    height:40px; 
 }

div {
    align-items: end;
}

.title {
    
    padding-top: 60px;
}

.paragraph {
    padding-right: 100px;
    padding-left: 50px;
    line-height: 1.5;
    font-size: larger;
}

.paragraph2 {
    padding-right: 100px;
    line-height: 1.5;
    font-size: larger;
}



.li-object{
    font-size: larger;
    padding-bottom: 30px;
}

ol{
    padding-left: 70px;
}

ul{
    padding-left: 70px;
}

.circular-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    padding: 80px;
}

nav a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
}


section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
}


span {
    color: red;
    font-weight: bold;
}


.test span {
    color: purple;
}

footer {
    background-image: url(Images/background1.jpg);
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}